@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:700i&display=swap');

@font-face {
    font-family: 'roboto';
    src: url('roboto-italic-webfont.woff2') format('woff2'),
         url('roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'roboto';
    src: url('roboto-bold-webfont.woff2') format('woff2'),
         url('roboto-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'roboto';
    src: url('roboto-bolditalic-webfont.woff2') format('woff2'),
         url('roboto-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'roboto';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto';
    src: url('roboto-thin-webfont.woff2') format('woff2'),
         url('roboto-thin-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}




@font-face {
    font-family: 'roboto';
    src: url('roboto-thinitalic-webfont.woff2') format('woff2'),
         url('roboto-thinitalic-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: italic;
}


 

header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin: 20px;
    text-transform: lowercase;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: normal;
    word-spacing: 0.9em;
    text-indent: 2em;
}

footer {
    font-family: 'Anonymous Pro', monospace;
    font-size: small;
    text-transform: capitalize;
}

.bolditalic {
    font-style: italic;
    font-weight: bold;
}

h2 {
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    letter-spacing: 1em;
}

.second {
    font-size: 1.3em;
}

.third {
    font-size: 120%;
    word-spacing: -0.1em;
    letter-spacing: -0.06em;
    text-align: left;
}

.fourth {
    font-size: 1em;
    font-style: italic;
    background-color: rgb(167, 156, 156);
    border: 1px solid rgb(102, 95, 95);
    border-spacing: 0ch;
    border-collapse: collapse;
    letter-spacing: 0.05em;
    word-spacing: 1.5em;
    line-height: 1.5;
    text-align: justify;   
}

.red {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    text-decoration-line: underline;
    -moz-text-decoration-line: underline;
    text-decoration-style: dashed;
    -moz-text-decoration-style: dashed;
    text-decoration-color: rgba(216, 14, 14, 0.575);
    -moz-text-decoration-color: red;
    line-height: 2em;
    text-align: center;
   
}

.red::first-letter {
    color: rgb(5, 247, 255);
    font-size: 2em;
    font-weight: bold;
    
}

.red::first-line {
    font-style: italic;
}

img {
    vertical-align: sub;
}

.one {
    vertical-align: sub;
}

.two {
    vertical-align: super;
}

.three {
    vertical-align: middle;
}

.four {
    vertical-align: text-bottom;
}

.five {
    vertical-align: bottom;
}

.six {
    vertical-align: top;
}

.seven {
    vertical-align: text-top;
}